export CLIENT_UUID=""
export X_AUTH_TOKEN=""
export USER_AGENT="Mozilla/5.0 (X11; Linux x86_64; rv:147.0) Gecko/20100101 Firefox/147.0"
export GOTIFY_URL=""
export GOTIFY_TOKEN=""
export SUCCESS_MSG="✅ {credit_topped_up} credits successfully topped up ! Old count : {old_credit_count}, New count : {new_credit_count}"